@{
    ViewData["Title"] = "Roles Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Панель администратора</h2>
<ul>
    <li>@Html.ActionLink("Управление ролями", "Index", "Roles", new { @class = "elements" }, null)</li>
    <li>Что-то ещё..</li>
</ul>