@using Microsoft.AspNetCore.Identity
@model WebApplication.Models.ViewModels.MasterPageViewModel

@{
    ViewData["Title"] = "Профессиональный маникюр и педикюр в Пикалево";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var user = @Model;
}

@*<h1>Hello, @Model.Name (@Model.Location)!</h1>*@

@*@{Html.RenderAction("Content", "Home");}
@{Html.RenderAction("Photos", "Home");}
@{Html.RenderAction("Masters", "Home");}
@{Html.RenderAction("Price", "Home");}
@{Html.RenderAction("Contacts", "Home");}*@