@using Microsoft.AspNetCore.Identity
@model WebApplication.Models.ViewModels.RejectViewModel

@{
    ViewData["Title"] = "Управление причинами отмены";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center mb-5">Управление причинами отмены</h1>
<div asp-validation-summary="All" class="text-danger"></div>

<div class="container">
    <div class="row">
        <div class="col mb-2">
            <h4>Создать причину отмены</h4>
            <form asp-action="Create" method="post">
                <div class="form-group">
                    Зарегистрированные причины:
                    <ul class="form-group">
                        @foreach (var reject in Model.RejectReasons)
                        {
                            <li class="list-group-item">@reject.Title</li>
                        }
                    </ul>
                    <label for="RejectReasonName">Наименование</label>
                    <input name="RejectReasonName" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Добавить</button>
            </form>
        </div>
        <div class="col mb-2">
            <h4>Обновить причину отмены</h4>
            <form asp-action="Update" method="post">
                <div class="form-group">
                    Обновить причину:
                    <select asp-for="RejectReasonId" class="form-control"
                            asp-items="@(new SelectList(Model.RejectReasons,"Id","Title"))">
                    </select>
                    <label for="RejectReasonName">Новое наименование</label>
                    <input name="RejectReasonName" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Обновить</button>
            </form>
        </div>
    </div>
</div>